body {
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    }
.cursor {
    display: inline-block;
    animation: blink 1s infinite;
}
  @keyframes blink {
  50% { opacity: 0; }
}