body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: monospace;
      font-size: 32px;
      background: #111;
      color: #fff;
    }

    .cursor {
      display: inline-block;
      margin-left: 2px;
      animation: blink 1s infinite;
    }

    @keyframes blink {
      50% { opacity: 0; }
    }